body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 850px) {
  body {
    max-width: 800px;
  }
}

#step2,
#step3 {
  width: 100%;
  height: 100%;
}

textarea {
  width: 80%;
  height: 200px;
}

#confirmUrls {
  display: block;
  margin: 10px auto;
  font-size: 20px;
}

.drawContainer {
  margin-top: 20px;
  position: relative;
}

#drawer {
  width: 100%;
}

#boxIndicator {
  position: absolute;
  background-color: black;
  border: 2px solid white;
  box-sizing: border-box;
  display: inline-block;
  opacity: 0.5;
}

#readyToBatch {
  margin-top: 10px;
  font-size: 20px;
}

#step4 {
  padding-top: 30px;
}

#step4 button {
  font-size: 20px;
  display: block;
  margin: 10px auto;
}

/* A hack to hide the close button from Canva button */
.LFKmsQ {
  display: none;
}
