@import 'node_modules/foundation-sites/scss/foundation';

.About {
  margin-top: 10px;

  .account-container {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-weight: 600;

    i {
      display: block;
      font-size: 3.7em;
    }
  }

  .title {
    font-size: 2.0rem;
    margin-top: 15px;
    text-align: center;
  }

  .work-container {
    text-align: center;
    .img {
      height: 300px;
      width: 300px;
    }
    &.speeches {
      .img {
        height: 400px;
        width: 400px;
      }
    }
    @media screen and (min-width: 40em) {
      & > div:last-child:not(:first-child) {
        float: none;
      }
    }
    @media screen and (min-width: 64em) {
      & > div:last-child:not(:first-child) {
        float: right;
      }
    }
  }
}
