* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  cursor: default;
  color: darkslategrey;
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  position: absolute;
  left: 0;
  top: 0;
}

body {
  background: #fff;
  margin: 0;
  font-family: arial, helvetica, clean, sans-serif;
}

button {
  padding: .85em 1em;
  border: 1px solid transparent;
  border-radius: 0;
  font-size: .9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #2199e8;
  color: #fefefe;
}

#app, .App {
  height: 100%;
  text-align: center;
  line-height: 1.6;
}

a {
  color: #1976D2;
  text-decoration: none;
}

a:hover {
  color: #0D47A1;
}

p {
  cursor: default;
  margin-bottom: 15px;
  line-height: 1.6;
}

.button {
  background-color: #1976D2;
}

.button:hover {
  background-color: #0D47A1;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  padding: 0 1rem;
}

// Small
@media (max-width: 640px) {
  body {
    .small-10 {
      width: 80%;
    }

    .small-6 {
      width: 50%;
    }

    .small-11 {
      width: 90%;
    }
  }
}

// medium
@media (min-width: 641px) and (max-width: 1024px) {
  body {
    .small-10 {
      width: 80%;
    }

    .small-6 {
      width: 50%;
    }

    .small-11 {
      width: 90%;
    }

    .medium-3 {
      width: 25%;
    }

    .medium-6 {
      width: 50%;
    }

    .medium-9 {
      width: 75%;
    }
  }
}

// large
@media (min-width: 1025px) {
  body {
    .small-10 {
      width: 80%;
    }

    .small-6 {
      width: 50%;
    }

    .small-11 {
      width: 90%;
    }

    .medium-3 {
      width: 25%;
    }

    .medium-6 {
      width: 50%;
    }

    .medium-9 {
      width: 75%;
    }

    .large-7 {
      width: 60%;
    }
    large-4 {
      width: 33%;
    }
  }
}

.thumbnail {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: 4px solid #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px hsla(0,0%,4%,.2);
  line-height: 0;
}

.Header {
  background: #fff;
  height: 400px;
  position: relative;
  text-align: center;
}
