.articles-container {
  .article {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    .link  {
      font-size: 23px;
      text-align: left;
      padding-right: 20px;
    }
    .date  {
      text-align: right;
      min-width: 70px;
    }
  }
}
