@import 'node_modules/foundation-sites/scss/foundation';

.Blogs {
  padding: 5px 0 10px 0;
  background-color: #4b83e7;

  .title {
    color: #fff;
    font-weight: 600;
    text-align: center;
  }

  .container {
    margin: 20px 0 0 0;
    text-align: center;

    i {
      color: #66ff99;
      display: block;
      font-size: 4em;
    }

    p {
      color: #fff;
    }

    &:hover {
      color: #fff;
      i {
        color: #fff;
      }
    }
  }

  .cnblogs {
    i {
      color: #00ccff;
    }
  }

  a {
    color: #fff;
    display: block;
    font-size: 1.5em;
    text-align: center;

    &:hover {
      color: $primary-color;
    }

    i {
      display: block;
    }
  }
}
