@import 'node_modules/foundation-sites/scss/foundation';

.Footer {
  background-color: #3c3d41;
  height: 350px;

  a {
    padding: 20px 0;
    color: #fff;
    display: block;
    font-size: 1.5em;
    text-align: center;
    transition: color 2s;
    outline: 0;

    &:hover {
      color: skyblue;
    }

    i {
      display: block;
    }
  }

  .mail {
    font-size: 15px;
    text-align: center;
    color: #fff;
  }
}
