@import 'node_modules/foundation-sites/scss/foundation';

.Footer {
  background-color: #3c3d41;
  min-height: 60px;
  margin-top: 20px;
  padding-top: 15px;
  text-align: center;

  &>a {
    padding: 5px 0 20px;
    color: #fff;
    display: block;
    font-size: 1.5em;
    text-align: center;
    transition: color 2s;
    outline: 0;

    &:hover {
      color: skyblue;
    }

    i {
      display: block;
    }
  }

  .mail {
    font-size: 15px;
    text-align: center;
    color: #fff;
  }

  .footer-link {
    font-size: 3.5em;
    margin: 0 15px;
    display: inline-block;
  }
}
