@import 'node_modules/foundation-sites/scss/foundation';

.Footer {
  background-color: #3F51B5;
  min-height: 60px;
  margin-top: 20px;
  padding-top: 15px;
  text-align: center;

  &>a {
    margin: 5px 0 20px;
    color: #fff;
    display: block;
    font-size: 1.5em;
    text-align: center;
    transition: color 0.5s;

    &:focus {
      outline-color: white;
    }

    &:hover {
      color: skyblue;
    }

    i {
      display: block;
    }
  }

  .mail {
    display: inline-block;
    font-size: 20px;
    color: #fff;
  }

  .footer-link {
    font-size: 3.5em;
    margin: 0 15px;
    display: inline-block;
  }
}
