.Header {
  background: url('../images/heroBanner.png') no-repeat center center fixed;
  background-size: cover;
  height: 400px;
  position: relative;
  text-align: center;

  .mask-layer {
    background-color: #000;
    height: 400px;
    opacity: 0.3;
  }

  .dropdown-area {
    display: inline-block;
    opacity: 0.6;
    position: fixed;
    right: 20px;
    text-align: right;
    top: 20px;
    visibility: hidden;
    z-index: 2;
    width: calc(100% - 40px);

    .nav-menu-btn {
      color: #fff;
      background: #000;
      cursor: pointer;
      font-size: 1.2em;
      padding: 6px 9px;

      &:hover {
        color: #3399ff;
      }
    }

    .nav-menu-dropdown {
      background: black;
      display: none;

      span {
        border-bottom: 1px solid #fff;
        color: #fff;
        display: block;
        padding: 6px 0;
        text-align: center;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .avatar-area {
    position: relative;
    top: -300px;

    .avatar {
      background: url('../images/avatar.png') no-repeat center center;
      border-radius: 50%;
      display: none;
      height: 160px;
      width: 160px;
    }

    .name {
      color: #fff;
      font-weight: bold;
      font-size: 3.2em;
      text-shadow: -2px 1px #100;
    }

    .description {
      color: #fff;
      font-size: 1.5em;
    }
  }

  .nav-bar {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: -250px;

    span {
      border-right: 2px solid #fff;
      font-size: 1.1em;
      padding: 0 10px;

      &:last-child {
        border-right: none;
        padding-left: 10px;
      }

      &:hover {
        color: deepskyblue;
      }
    }
  }

  @media (max-width: 500px) {
    .nav-bar {
      display: none;
    }
    .dropdown-area {
      visibility: visible;
    }
  }
}
