.work {
  min-height: 540px;

  & > a > img {
    filter: blur(3px);
    transition: filter 0.5s ease-in-out;

    &:hover {
      filter: none;
    }
  }
  & > div > p {
    margin-bottom: 5px;
  }
  iframe {
    border: none;
    box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
    margin-bottom: 1rem;
  }
}
