.work {
  min-height: 520px;
  padding: 20px 16px;
}

@media screen and (max-width: 640px) {
  .work {
    min-height: auto;
  }
}

.work > div > p {
  margin-bottom: 5px;
}

.work .work-date {
  display: block;
  font-size: 14px;
  color: #475569;
  margin-bottom: 8px;
}
