.work-container {
  text-align: center;
  .img {
    height: 300px;
    width: 300px;
  }
  &.speeches {
    .img {
      height: 400px;
      width: 400px;
    }
  }
  >div {
    clear: none !important;
  }
  h5 {
    cursor: default;
    font-weight: bold;
  }
  @media screen and (min-width: 40em) {
    & > div:last-child:not(:first-child) {
      float: none;
    }
  }
  @media screen and (min-width: 64em) {
    & > div:last-child:not(:first-child) {
      float: right;
    }
  }
}
