.work-container {
  text-align: center;
  gap: 24px;
}

@media screen and (min-width: 40em) {
  .work-container > div:last-child:not(:first-child) {
    float: none;
  }
}
@media screen and (min-width: 64em) {
  .work-container > div:last-child:not(:first-child) {
    float: right;
  }
}

.work-container .img {
  height: 300px;
  width: 300px;
}

.work-container > div {
  clear: none !important;
}

.work-container h3 {
  cursor: default;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 8px 0;
  color: #1e293b;
}

.work-container .description {
  margin-bottom: 10px;
  font-size: 15px;
  color: #475569;
}

.work-container .description p {
  font-size: 15px;
  color: #475569;
}
