/* Copyright 2017 Canva Inc. All Rights Reserved. */

/*
 * The definitive list of Canva colors to be used in the app. Colors should never
 * be referenced by hex code outside this file. All colors should be represented in
 * the list below.
 *
 * Please name colors with the appropriate prefix to avoid conflicts with
 * native browser colors:
 *
 * Use variable name "monoBlack" over "black" since "black" has meaning in the
 * browser, and does not match the Canva defined color. If someone forgets to import
 * the variable we don't want it to fallback to a value that has another meaning.
 *
 * The number pattern (X50, X100, X200, etc.) is used to make sure that we can introduce
 * similar colors at a later point in time without having to rename them. E.g. lets say there
 * was a color that had an alpha between the one of X100 and X200, then we would add it with X150
 */

/* Copyright 2017 Canva Inc. All Rights Reserved. */

/**
 * To help achieve visual consistency throughout Canva, much of Canva's UI is
 * laid out on a square grid. This value represents the 'base unit' of that
 * grid (the width and height of a single grid cell).
 *
 * Almost all components of the UI are expected to be sized as a multiple of the
 * grid's base unit, to ensure that they remain aligned with the grid if the
 * base unit changes. Note that while most lengths specified in the UI are
 * expected to be integer multiples of the base unit, the fractional multiples
 * 0.25, 0.5, and 0.75 are sometimes required as well.
 *
 * Not all parts of the UI are expected to scale uniformly with the grid. e.g.
 * margins and form elements are expected to scale with the grid, but text sizes
 * will typically be set independently.
 *
 * In CSS, lengths that are multiples of the grid's base unit can be specified
 * using 'calc', e.g. 'calc(gridBaseline * 2)' is the length of two base units,
 * and 'calc(gridBaseline * 0.5)' is 0.5 base units.
 */

/**
 * Use touchRadius as a minimum radius for any hit targets on touch devices.
 * Hit targets smaller than this are difficult to interact with via touch.
 * This value is slightly smaller than Apple’s recommended minimum touch target of 44px.
 * https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/adaptivity-and-layout/#layout-guides-and-safe-area
 */

/* Some versions of FF will go to zero if any higher than ..47 */

@-webkit-keyframes src-pages-design_button-iframe_view-iframe_view__fade {
    from {
        opacity: 0;
        -webkit-transform: scale(0.8, 0.8);
                transform: scale(0.8, 0.8);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
}

@keyframes src-pages-design_button-iframe_view-iframe_view__fade {
    from {
        opacity: 0;
        -webkit-transform: scale(0.8, 0.8);
                transform: scale(0.8, 0.8);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
}

.src-pages-design_button-iframe_view-iframe_view__root {
    display: none;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.src-pages-design_button-iframe_view-iframe_view__rootShow {
    display: block;
    opacity: 1;
}

.src-pages-design_button-iframe_view-iframe_view__rootHiding {
    display: block;
    opacity: 0;
}

.src-pages-design_button-iframe_view-iframe_view__container {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2147483640;
}

[dir] .src-pages-design_button-iframe_view-iframe_view__container {
    background-color: rgba(0, 0, 0, 0.4);
}

[dir=ltr] .src-pages-design_button-iframe_view-iframe_view__container {
  left: 0;
  right: 0;
}

[dir=rtl] .src-pages-design_button-iframe_view-iframe_view__container {
    right: 0;
    left: 0;
}

.src-pages-design_button-iframe_view-iframe_view__closeButton {
    position: fixed;
    top: 5px;
    width: 40px;
    height: 40px;
}

[dir] .src-pages-design_button-iframe_view-iframe_view__closeButton {
    display: none;
    cursor: pointer;
}

[dir=ltr] .src-pages-design_button-iframe_view-iframe_view__closeButton {
  right: 5px;
}

[dir=rtl] .src-pages-design_button-iframe_view-iframe_view__closeButton {
    left: 5px;
}

.src-pages-design_button-iframe_view-iframe_view__iframe {
    transition: opacity 0.4s linear;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
}

[dir] .src-pages-design_button-iframe_view-iframe_view__iframe {
    margin: 0;
    border: none;
}

.src-pages-design_button-iframe_view-iframe_view__iframeLoading {
    display: block;
}

.src-pages-design_button-iframe_view-iframe_view__iframeLoaded {
    display: block;
    opacity: 1;
}

[dir] .src-pages-design_button-iframe_view-iframe_view__iframeLoaded {
    background-color: rgb(255, 255, 255);
}

.src-pages-design_button-iframe_view-iframe_view__loadingIcon {
    position: absolute;
    top: calc(50% - 80px);
    width: 160px;
    height: 160px;
    display: block;
    overflow: hidden;
}

[dir] .src-pages-design_button-iframe_view-iframe_view__loadingIcon {
    background-color: rgb(0, 196, 204);
    background-image: url(/images/6abcdf6f7be7706f07bbe21ce0bdb62e.gif);
    background-size: 66.6%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

[dir=ltr] .src-pages-design_button-iframe_view-iframe_view__loadingIcon {
  -webkit-animation: src-pages-design_button-iframe_view-iframe_view__fade 0.4s ease-out 0s 1 forwards;
  animation: src-pages-design_button-iframe_view-iframe_view__fade 0.4s ease-out 0s 1 forwards;
  left: calc(50% - 80px);
}

[dir=rtl] .src-pages-design_button-iframe_view-iframe_view__loadingIcon {
    -webkit-animation: src-pages-design_button-iframe_view-iframe_view__fade 0.4s ease-out 0s 1 forwards;
            animation: src-pages-design_button-iframe_view-iframe_view__fade 0.4s ease-out 0s 1 forwards;
    right: calc(50% - 80px);
}

.src-pages-design_button-iframe_view-iframe_view__loadingIconLoaded {
    display: none;
}

/* In this file, we prevent include any base element to prevent including unnecessary files into
 * design button
 */

/* TODO(Benji): We disabled importing the Open Sans for now as there's no good way to only import
 * The part we needed
 */
/* From ui/base/fonts/fonts.css */

.src-pages-design_button-html_api-html_api__fontSmoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}

.src-pages-design_button-html_api-html_api__textMedium {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
}

/* From ui/base/colors/colors.css */

/* From ui/base/metrics/metrics.css */

/* From ui/base/button/button.css button */

.src-pages-design_button-html_api-html_api__button {
    color: rgb(255, 255, 255);
    display: inline-flex;
    height: 40px;
    letter-spacing: 0.01rem;
    line-height: 1.4;
    max-width: 100%;
    min-width: 80px;
    outline: 0;
    transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear;
    vertical-align: middle;
    align-items: center;
}

[dir] .src-pages-design_button-html_api-html_api__button {
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    padding: 0 6px;
}

.src-pages-design_button-html_api-html_api__primary {
}

[dir] .src-pages-design_button-html_api-html_api__primary {
    background-color: rgb(0, 196, 204);
}

[dir] .src-pages-design_button-html_api-html_api__primary.src-pages-design_button-html_api-html_api__hoverSupported:hover {
    background-color: rgb(0, 217, 225);
}

[dir] .src-pages-design_button-html_api-html_api__primary.src-pages-design_button-html_api-html_api__hoverSupported:focus, [dir] .src-pages-design_button-html_api-html_api__primary.src-pages-design_button-html_api-html_api__hoverSupported.src-pages-design_button-html_api-html_api__focus, [dir] .src-pages-design_button-html_api-html_api__primary:focus, [dir] .src-pages-design_button-html_api-html_api__primary.src-pages-design_button-html_api-html_api__focus {
    background-color: rgb(0, 217, 225);
    border-color: rgb(0, 175, 181);
}

[dir] .src-pages-design_button-html_api-html_api__primary.src-pages-design_button-html_api-html_api__hoverSupported:active, [dir] .src-pages-design_button-html_api-html_api__primary.src-pages-design_button-html_api-html_api__hoverSupported.src-pages-design_button-html_api-html_api__active, [dir] .src-pages-design_button-html_api-html_api__primary:active, [dir] .src-pages-design_button-html_api-html_api__primary.src-pages-design_button-html_api-html_api__active {
    background-color: rgb(0, 175, 181);
}

.src-pages-design_button-html_api-html_api__primary:disabled,
.src-pages-design_button-html_api-html_api__primary.src-pages-design_button-html_api-html_api__hoverSupported:disabled {
    color: rgba(14, 19, 24, 0.45);
}

[dir] .src-pages-design_button-html_api-html_api__primary:disabled, [dir] .src-pages-design_button-html_api-html_api__primary.src-pages-design_button-html_api-html_api__hoverSupported:disabled {
    background-color: rgba(14, 19, 24, 0.15);
}

.src-pages-design_button-html_api-html_api__anchor {
    text-decoration: none;
    /* Regular buttons have these attributes by default */
    box-sizing: border-box;
}

[dir] .src-pages-design_button-html_api-html_api__anchor {
    text-align: center;
}

.src-pages-design_button-html_api-html_api__designButton {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
}

[dir] .src-pages-design_button-html_api-html_api__designButton {
    padding: 0 8px;
}

.src-pages-design_button-html_api-html_api__designButton::before {
    height: 24px;
    width: 24px;
    display: block;
    content: ' ';
}

[dir] .src-pages-design_button-html_api-html_api__designButton::before {
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm4.984-7.724a.415.415 0 0 0-.395-.308c-.17 0-.304.078-.37.206a4.852 4.852 0 0 0-.142.215c-.035.056-.07.11-.104.16-.602.88-1.074 1.27-2.194 1.814a3.98 3.98 0 0 1-1.651.382c-1.69 0-2.667-1.374-2.99-2.55-.561-2.044.364-4.583 1.569-6.034.71-.856 1.48-1.328 2.171-1.331.311 0 .751.158.984.506.351.524.476.991.071 1.83-.094.196.016.414.178.496.253.126.58-.049.954-.544.418-.556.445-1.427.062-1.984C14.647 6.434 13.71 6 12.664 6a4.22 4.22 0 0 0-2.082.563c-2.644 1.551-4.158 5.13-3.376 7.98.276 1.008.883 1.918 1.666 2.499.306.225 1.41.958 2.742.958h.015c1.35-.005 2.381-.54 3.04-.943.721-.446 1.352-1.06 1.93-1.879.047-.066.093-.137.14-.207.043-.068.087-.136.132-.199a.602.602 0 0 0 .113-.496z'/%3E%3C/svg%3E");
}

[dir=ltr] .src-pages-design_button-html_api-html_api__designButton::before {
  margin-right: 8px;
}

[dir=rtl] .src-pages-design_button-html_api-html_api__designButton::before {
    margin-left: 8px;
}


/*# sourceMappingURL=design_button.entry.css.map*/
