
/* style.css */
body{
  background: rgb(245,245,245);
  color: #6a6a6a;
  font-size: 15px;
  font-family: Helvetica;
  margin: 0 auto;
  width: 500px;
  margin: 10px auto;
}

.action {
  color: #fff;
  background-color: #e24a4a;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.action:hover {
  color: #fff;
  background-color: #c14953;
}

.card{
  background: white;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2)
}

.btn {
  padding: 10px;
  border-radius: 4px;
}

.btn-red {
    background-color: #C14953;
    color: white;
    font-weight: 500;
    transition: background 0s;
}

.btn-red:hover {
    background-color: #8E5F64;
    color: white;
    font-weight: 500;
    color:white;
    transition: background 0.5s;
}

.avatar {
  width: 140px;
}

.book {
  width: 80px;
}

h1{
  /*font-family: Courier;*/
  color: #e24a4a;
  font-weight: bolder;
  font-size: 30px;
}
h2 {
  /*font-family: Courier;*/
  color: #161112;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

h3 {
  margin: 10px 0;
}

a {
  color: grey;
}
a:hover {
  text-decoration: none;
  color: purple;
}
.text-center {
  text-align: center;
}
.description-area {
  display: inline-block;
  margin-left: 10px;
  width: 340px;
}

.footer a {
  width: 90px;
  display: inline-block;
  font-size: 35px;
}
